<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/style.css">    
    <title>The Pokemon Post</title>
  </head>
  <body>
    <div id="modal"></div>

    <div class="container">
      <h1>The Pokemon Post — Get the Latest Pokemon News</h1>
      <a href="/scrape"><button>Fetch the News</button></a>
      <a href="/saved"><button>View Your Saved News</button></a>
       {{{body}}}
    </div>

    <script src="app.js"></script>
  </body>
</html>
