<h2>saved page loaded</h2>
<div class="row">
  <div class="col-sm">
    <div class="articles"></div>
  </div>
  <div class="col-sm">
    <div class="notes">
      <h2 class="articleTitle"></h2>
      <p class="articleBlurb"></p>
      <div class="form-group">
        <label>Note Title</label>
        <input class="form-control" type="text" class="noteTitle">
        <label>Your Thoughts</label>
        <textarea class="form-control" class="articleNote" rows="3"></textarea>
      </div>
      <button type="submit" class="submitNote" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>